<section class="TodoSection">
  <div class="TodoSectionTitle">
    <p class="TodoSectionTitle-text"><%= section_title %></p>
    <p class="TodoSectionTitle-remainingCount"><%= todos.completed.count %> / <%= todos.count %> </p>
  </div>

  <ul class="TodoList">
    <% todos.each do |todo| %>
      <li class="TodoItem">
        <label class="TodoItem-container">
          <%= form_with(url: "/todos/#{todo.id}", method: "put") do %>
            <%= check_box_tag :completed, "completed", todo.completed ? true : false, onclick: "this.form.submit()" %>
          <% end %>

          <p class='<%= todo.completed ? "TodoItem-completed" : "" %>'>
            <%= todo.todo_text %>
          </p>

          <% if show_due_date %>
            <p class="TodoItem-dueDate"> <%= todo.due_date.to_s(:short) %> </p>
          <% end %>

          <a href="javascript:void(0)" class="TodoItem_DeleteButton">
            <%= form_with(url: "/todos/#{todo.id}", method: "delete") do %>
            <%= image_submit_tag("trash.png", height: "15", width: "14") do %>
            <% end %>
            <% end %>
          </a>

        </label>
      </li>
   <% end %>
  </ul>

</section>
